<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "todo" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
</head>
<body>

<a data-route="routes.tasks">Tasks</a> |
<a data-route="routes.tasks.new">New Task</a>

<div data-yield="main"></div>

<script type="text/javascript">
  Todo.run();
</script>

</body>
</html>
