<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "todo" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
</head>
<body>

  <div class="container">
    <header>
      <ul class="nav nav-pills pull-right">
        <li>
          <a class="btn btn-primary btn-sm pull-right btn-icon" data-route="routes.tasks.new">+</a>
        </li>
      </ul>
      <h1 class="text-muted">
        <a data-route="routes.tasks">Tasks</a>
      </h1>
    </header>

    <section class="bg-light lter w-f">
      <aside>
        <section class="vbox">
          <section class="scrollable wrapper">
            <div data-yield="main"></div>
          </section>
        </section>
      </aside>
    </section>

  </div> <!-- /container -->

  <script type="text/javascript">
    Todo.run();
  </script>

</body>
</html>
